body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand,
.nav-link {
  color: #603000;
  padding-left: 5%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 300;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #9b7d60;
}
.nav-link {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link:hover {
 color: #65281797;
  transform: scale(1.05, 1.05);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
  
}

.about-content {
  display: flex;
  align-items: center;
}

#headingGroup {
  /* margin: auto; */
  padding-top: 30%;
  font-weight: 200;
}

.p-intro {
  padding: 5% 8% 8%;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}
.img-fluid {
  position: relative;
}

nav {
  transition: background 0.5s; /* control how smooth the background changes */
}

nav.scrolled {
  background: #fefae0;
}

.her {
  font-style: italic;
  color: #4a2500;
}

#fact-button {
  background: #29320e;
  margin: 10px;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

#fact-button:hover {
  color: #fff;
  text-decoration: none;
  border: 3px solid white;
  background: #bacc82;
}

.button-div {
  display: flex;
  justify-content: center;
}

.clicked {
  padding-top: 5%;
}

#fact-text {
  font-weight: 200;
  font-size: 20px;
}
