body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand,
.nav-link {
  color: #deb489;
  padding-left: 5%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 2;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #deb489;
}
.nav-link {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link:hover {
  color: #b98c5f;
}

.contact-title {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9f7a54;
}

.contact-div {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.block {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.LinkedIn-div,
.Twitter-div,
.GitHub-div,
.Email-div {
  padding-left: 10px;
  padding-right: 10px;
}
