/* Ensure body and common settings */
body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar styling */
.navbar-brand,
.nav-link {
  color: #603000;
  padding-left: 5%;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 300;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #9b7d60;
}

.nav-link {
  font-size: 2rem;
  font-weight: 200;
}

.nav-link:hover {
  color: #65281797;
  transform: scale(1.05, 1.05);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
}

/* Contact section title */
.contact-title {
  font-size: 2rem;
  font-weight: 200;
  color: #9f7a54;
}

/* Flexbox to center title */
.contact-div {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

/* Flexbox for the block of icons */
.block {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

/* Style for the icons */
.LinkedIn-div,
.Twitter-div,
.GitHub-div,
.Email-div {
  padding-left: 10px;
  padding-right: 10px;
}

/* Circle div around the icons */
.LinkedIn-div a,
.Twitter-div a,
.GitHub-div a,
.Email-div a {
  display: inline-block;
  width: 6em; /* Increase/decrease this for circle size */
  height: 6em; /* Adjust for perfect circle */
  border-radius: 50%;
  background-color: #9f7a54; /* Background color for the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Ensure the icons are smaller and centered */
.LinkedIn-div img,
.Twitter-div img,
.GitHub-div img,
.Email-div img {
  width: 3.5em; /* Adjust for the icon size */
  height: 3.5em; /* Maintain the same size for proportional scaling */
  /* border-radius: 50%; */
  object-fit: cover;
}

/* Icon hover effect */
.LinkedIn-div a:hover,
.Twitter-div a:hover,
.GitHub-div a:hover,
.Email-div a:hover {
  background-color: #603000; /* Change background color on hover */
}
