body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand,
.nav-link {
  color: #4a2500;
  padding-left: 5%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 300;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #9b7d60;
}
.nav-link {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link:hover {
  color: #65281797;
  transform: scale(1.05, 1.05);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
}

.contact-title {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9f7a54;
}

.contact-div {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.block {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.LinkedIn-div,
.Twitter-div,
.GitHub-div,
.Email-div {
  padding-left: 10px;
  padding-right: 10px;
}
