body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand,
.nav-link {
  color: #603000;
  padding-left: 5%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 300;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #9b7d60;
}
.nav-link {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link:hover {
  color: #9b7d60;
  transform: scale(1.05, 1.05);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.15rem;
}
nav {
  transition: background 0.5s; /* control how smooth the background changes */
}

nav.scrolled {
  background: #fefae0;
}

.project-div {
  /* display: block;
  justify-content: center; */
  padding-top: 10%;
}

.carousel {
  display: flex;
  justify-content: center;
}
#carousel-img {
  width: 60vw;
  height: 60vh;
  border-radius: 10px 10px 10px 10px;
}

#carousel-img:hover {
  cursor: pointer;
  box-shadow: rgba(146, 84, 53, 0.24) 0px 3px 8px;
}
@media (max-width: 1000px) {
  #carousel-img {
    width: 900px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 5%;
  }
}
@media (max-width: 800px) {
  #carousel-img {
    width: 700px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 15%;
  }
}

#forward {
  color: #603000;
  display: flex;
  align-self: center;
  padding-left: 5px;
}

#forward:hover {
  cursor: pointer;
  color: #e6ad9f;
}
#backward {
  color: #603000;
  display: flex;
  align-self: center;
  padding-left: 5px;
}
.project-div {
  display: grid;
  grid-template-rows: 1fr 0.4fr;
}

#backward:hover {
  cursor: pointer;
  color: #e6ad9f;
}

.text-about-project {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20%;

  /* align-items: center; */
}

#about-project {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #321b00;
  padding-top: 2%;
}

#about-description {
  /* width: 20rem; */
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #321b00;
  font-size: 1.2em;
}

.text-description {
  /* width: 60%; */
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #564430;
  padding-top: 5px;
}

