body {
  background: #faedcd;
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand,
.nav-link {
  color: #deb489;
  padding-left: 5%;
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 5em;
  font-weight: 2;
  padding-right: 3%;
}

.navbar-brand:hover {
  color: #deb489;
}
.nav-link {
  font-size: 2rem;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link:hover {
  color: #b98c5f;
}
nav {
  transition: background 0.5s; /* control how smooth the background changes */
}

nav.scrolled {
  background: #fefae0;
}

.project-div {
  /* display: block;
  justify-content: center; */
  padding-top: 10%;
}
.carousel {
  display: flex;
  justify-content: center;
}
#carousel-img {
  width: 70vw;
  height: 60vh;
  border-radius: 10px 10px 10px 10px;
}

#carousel-img:hover {
  cursor: pointer;
  box-shadow: rgba(146, 84, 53, 0.24) 0px 3px 8px;
}
@media (max-width: 1000px) {
  #carousel-img {
    width: 900px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 5%;
  }
}
@media (max-width: 800px) {
  #carousel-img {
    width: 700px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    padding-top: 15%;
  }
}

#forward {
  color: #d4a373;
  display: flex;
  align-self: center;
  padding-left: 5px;
}

#forward:hover {
  cursor: pointer;
  color: #e6ad9f;
}
#backward {
  color: #d4a373;
  display: flex;
  align-self: center;
  padding-left: 5px;
}

#backward:hover {
  cursor: pointer;
  color: #e6ad9f;
}

.text-about-project {
  display: block;
  transform: translateX(15vw);
  width: 50rem;
}

#about-project {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #564430;
  padding-top: 2%;
}

#about-description {
  /* width: 20rem; */
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #564430;
  font-size: 17px;
}

.text-description {
  /* width: 60%; */
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #564430;
  padding-top: 5px;
}
